[defaults]
# Aponta para o nosso arquivo de inventário padrão.
inventory = ansible/inventory.ini

[ssh_connection]
# Diz ao Ansible para usar os argumentos de conexão que vamos gerar.
ssh_args = -F ansible/ssh_config
